body{
    background-color: rgb(26, 44, 59);
    color: gray;
    min-width: 1250px;
}

header{
    font-size: 250%;
    text-align: center;
    padding: 60px 30px;
}

#sampleBox{
    float: left;
    border-style: none;
    background-color: gray;
    padding: 200px;
    margin: 10px 50px 20px 300px;
}

.ansCl{ 
    float: left; 
    margin-left: 50px;
}
.range::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ansCl #cop{
    margin-left: 90px;
}

#bach{
    text-align: center;
    clear: both;
    font-family: cursive;
    padding-top: 120px;
}
a{
    color: gray;
}