body{
    background-color: rgb(26, 44, 59);
    color: white;
    min-width: 1250px;
}

header{
    font-size: 250%;
    text-align: center;
    padding: 60px 30px;
}
#descrip{
    font-size: medium;
}
a{
    color: white;
    text-align: center;
}

#sampleBox{
    float: left;
    border-style: none;
    background-color: gray;
    padding: 200px;
    margin: 10px 50px 20px 300px;
}

.ansCl{ 
    float: left; 
    margin-left: 50px;
}

.range{
    height: 10px;
    -webkit-appearance: none;
    border-radius: 50px;
}

.range::-webkit-slider-thumb{
   -webkit-appearance: none;
   width: 20px;
   height: 20px;
   background-color: gray;
   border-radius: 50px;
}
textarea{
    background-color: rgb(26, 44, 59);
    border: none;
    color:white;
}

.ansCl #cop{
    margin-left: 90px;
}

#bach{
    text-align: center;
    clear: both;
    font-family: cursive;
    padding-top: 120px;
}
#soli{
    color: white;
}