body{
    background-color: rgb(26, 44, 59);
    color: rgba(255, 255, 255, 0.877);
    min-width: 1100px;
}

header{
    font-size: 250%;
    text-align: center;
    padding: 60px 30px;
}

.inpCl{
    float: left;
    margin-left: 150px;
}

.inpCl #top{
    margin-left: 42px;
}

.inpCl #sampleBox{
    border-style: solid;
    background-color: gray;
    padding: 50px;
    margin: 20px 250px;
}

.inpCl #sub{
   margin-left: 225px;
   margin-top: 20px;
}

.ansCl{ 
    float: left; 
    margin-left: 100px;
}

.ansCl #cop{
    margin-left: 90px;
}